/* 테일윈드 임포트 */

@import 'tailwindcss';
@plugin "daisyui";

/* 커스텀 CSS */

@theme {
    --font-pretendard: 'Pretendard', 'sans-serif';
    --font-roboto-mono: 'Roboto Mono', 'monospace';
    --color-navy: #14284f;
    --color-ivory: #fffff8;
    --color-neon-green: #3ef900;
    --color-gray: #f6f6f2;
    --color-dark-gray: #cccccc;
    --animate-slide-down-up: slide-down-up 0.8s ease-in-out;
    @keyframes slide-down-up {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(0);
        }
    }
}

@utilities {
    .font-roboto-mono {
        font-family: var(--font-roboto-mono);
    }
}


/* 글로벌 스타일 */

@layer base {
    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    * {
        box-sizing: border-box;
    }
    #root {
        @apply flex justify-center items-center min-h-screen;
    }
}